@import "./components/App.css";

body {
  margin: 0;
  background-color: #1c1d20;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter Tight", serif;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
